---
import { Image } from "astro:assets";
import cat1 from "../assets/images/cat1.png";
import cat2 from "../assets/images/cat2.png";
import cat3 from "../assets/images/cat3.png";
import cat4 from "../assets/images/cat4.png";
import border from "../assets/icons/adoptionBottomBorder.svg";
import CatInfo from "./CatInfo.astro";
import type { CatInfo as CatModel } from "../types/cat-info";
import PrimaryButton from "./PrimaryButton.astro";
import Combobox from "./Combobox.astro";

const catInfo1: CatModel = {
  name: "Zion",
  genre: "Fêmea",
  localization: "Guarulhos, São Paulo SP",
};
const catInfo2: CatModel = {
  name: "Milk",
  genre: "Fêmea",
  localization: "Tiete, São Paulo SP",
};
const catInfo3: CatModel = {
  name: "Tini",
  genre: "Fêmea",
  localization: "Osasco, São Paulo SP",
};
const catInfo4: CatModel = {
  name: "Bird",
  genre: "Fêmea",
  localization: "Cotia, São Paulo SP",
};
---

<div
  class="flex flex-col justify-stretch items-center gap-4 w-full py-4 pb-14
  bg-gradient-to-bl from-[#FF7B77] to-[#FFB0AD] relative"
>
  <h1 class="font-logo text-2xl text-white">Gatos para adoção</h1>
  <div class="flex flex-row justify-evenly w-full gap-2 px-4">
    <Combobox id="cbb-estado" label="Estado" options={[["empty", "Estado"]]} />
    <Combobox id="cbb-cidade" label="Cidade" options={[["empty", "Cidade"]]} />
    <Combobox id="cbb-genero" label="Gênero" options={[["empty", "Gênero"]]} />
    <PrimaryButton>Buscar</PrimaryButton>
  </div>
  <div class="flex flex-row justify-evenly flex-wrap">
    <CatInfo image={cat1} alt="Gatinho bunitiho" catInfo={catInfo1} />
    <CatInfo image={cat2} alt="Gatinho bunitiho" catInfo={catInfo2} />
    <CatInfo image={cat3} alt="Gatinho bunitiho" catInfo={catInfo3} />
    <CatInfo image={cat4} alt="Gatinho bunitiho" catInfo={catInfo4} />
  </div>
  <div>
    <PrimaryButton variant="outline"> Ver todos </PrimaryButton>
  </div>
  <Image src={border} alt={"Borda"} class={"absolute inset-x-0 -bottom-2"}>
</div>
