---
import { Image } from "astro:assets";
import CircleElement from "./CircleElement.astro";
import TextBox from "./TextBox.astro";
import logo from "../assets/icons/logo.svg";
import TextElementImage from "./TextElementImage.astro";
import funnyCat from "../assets/icons/funnyCat.svg";
import PrimaryButton from "./PrimaryButton.astro";
---

<div class="flex flex-col gap-14 justify-center">
  <div class="flex flex-col gap-4">
    <TextBox> Apoie e faça a sua parte </TextBox>
    <h1 class="font-logo text-4xl text-center text-[#1A1442]">
      Apoie e colabore para que mais gatinhos encontre uma família
    </h1>
  </div>
  <div class="flex flex-row justify-evenly">
    <div class="flex flex-col items-end justify-end gap-56">
      <TextElementImage side="left" image={funnyCat} alt="Funny cat">
        <strong>+1.2 mil</strong> gatinhos adotados em 2024
      </TextElementImage>
      <TextElementImage side="left" image={funnyCat} alt="Funny cat">
        <strong>+80 toneladas</strong> de ração doadas desde 2023
      </TextElementImage>
    </div>
    <CircleElement>
      <div class="flex flex-col items-center justify-center w-60 h-40">
        <Image src={logo} width={50} height={50} alt={"Logo"} />
        <span
          >Mais de <strong>5.4mil gatinhos adotados</strong> desde 2016 em todo o
          Brasil.</span
        >
      </div>
    </CircleElement>
    <div class="flex flex-col items-end justify-end gap-56">
      <TextElementImage side="right" image={funnyCat} alt="Funny cat">
        <strong>+305 protetores</strong> apoiados durante o ano
      </TextElementImage>
      <TextElementImage side="right" image={funnyCat} alt="Funny cat">
        <strong>+2.1</strong> castrações de gatos realizadas
      </TextElementImage>
    </div>
  </div>
  <div class="self-center">
      <PrimaryButton>Apoie agora mesmo</PrimaryButton>
  </div>
</div>
