---
import { Image } from "astro:assets";
import ContactForm from "./ContactForm.astro";
import formCat from "../assets/images/formCat.png";
import element from "../assets/icons/elementArrow.svg";
import elementLine from "../assets/icons/elementLine2.svg";
import elementLine2 from "../assets/icons/elementLine3.svg";
import formRectangle from "../assets/icons/formRectangle.svg";
import SocialRow from "./SocialRow.astro";
import NewsletterSubscription from "./NewsletterSubscription.astro";
---

<div class="relative sm:max-md:h-[80rem] h-[65rem]">
  <div class="flex flex-col -z-10 absolute w-full h-full">
    <Image
      src={formRectangle}
      height={700}
      alt={"Elemento ratangular do formulario"}
      class={"w-full inset-x-0 top-0 -z-40"}
    />
    <div class="bg-[#E7807D] w-full h-full"></div>
  </div>
  <div class="sm:max-md:hidden">
    <Image
      src={formCat}
      alt={"Gato do formulário"}
      width={700}
      height={700}
      class={"absolute -inset-y-20 right-0 z-20"}
    />
    <Image
      src={element}
      alt={"Elemento decorativo"}
      height={800}
      class={"absolute inset-y-0 right-0 -z-10"}
    />
    <Image
      src={elementLine}
      width={130}
      alt={"Elemento decorativo 2"}
      class={"absolute inset-y-24 right-[45%] z-30"}
    />
    <Image
      src={elementLine2}
      width={130}
      alt={"Elemento decorativo 3"}
      class={"absolute inset-y-[40%] right-10 z-30"}
    />
  </div>
  <div class="flex flex-col absolute left-0 top-14 px-10 w-full gap-4">
    <span class="text-white text-3xl font-logo">
      <p>Fale conosco</p>
      <p>agora mesmo</p>
    </span>
    <ContactForm />
  </div>
  <div class="flex flex-col w-full absolute inset-x-0 bottom-10 gap-10">
    <SocialRow/>
    <NewsletterSubscription/>
  </div>
</div>
